@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

* {
    border: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: Open-Sans, sans-serif;
    font-weight: 300;
    color: #181d24;
}

p {
    margin-left: 100px;
    font-size: 18px;
    margin-right: 100px;
    text-align: center;
    line-height: 25px;
}

h1,
h2,
th {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #181d24;
    padding: 10px;
}

h2 {
    text-align: center;
    font-size: 28px;
    padding: 40px;
}

label {
    font-size: 18px;
}

/* Home Page */

.main-image {
    background: url('../images/cyclists-trail-bike-clouds.jpeg') no-repeat;
    background-size: cover;
    background-position: 55% 45%;
    background-color: skyblue;
    height: 500px;
    width: 100%;
    border-radius: 1px;
}

.title {
    line-height: 50px;
    float: left;
    margin-left: 10px;
}

.title a {
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    color: white;
}

/* Navigation */

.nav-menu {
    float: right;
    line-height: 70px;
    margin-right: 10px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    padding: 10px;
}

/* About Us and Opening Hours Section */

.table-section {
    display: flex;
    justify-content: center;
}

th,
td {
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

/* Social Media */

.social-media {
    text-align: center;
    font-size: 200%;
    padding: 40px;
}

.social-media a {
    padding: 20px;
    color: #181d24;
}

/* Bike Page */

.bike-header {
    background: url('../images/bicycle-tree.jpeg') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-color: skyblue;
    height: 500px;
    width: 100%;
    border-radius: 1px;
}

.bike-photo {
    height: 150px;
    width: 225px;
    margin: 50px;
    background-size: cover;
    border-radius: 10px;
}

.bike-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#bicycle-heading {
    text-align: center;
    padding: 20px;
}

/* Workshop Page */

.workshop-image {
    background: url('../images/bicycle-sunset.jpeg') no-repeat;
    background-size: cover;
    background-position: 55% 45%;
    background-color: skyblue;
    height: 500px;
    width: 100%;
}

form {
    text-align: center;
    border-radius: 4px;
    padding: 20px;
}

.workshop-signup {
    background-color: black;
    color: #ffffff;
}

#workshop-heading {
    color: #ffffff;
}

.form-input {
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: rgb(236, 162, 25);
    margin: 10px;
}

.form-submit {
    font-size: 24px;
    margin: 15px;
    padding: 8px;
    background-color: rgb(236, 162, 25);
    border-radius: 4px;
}

.form-submit:hover {
    color: #ffffff;
}

/* Thank You Page */

.thank-you-image {
    background: url('../images/celebration.jpeg') no-repeat;
    background-position: 65% 35%;
    background-color: skyblue;
    height: 500px;
    width: 100%;
    background-size: cover;
}

/* .thank-you {
    color: #ffffff;
    text-align: center;
    font-size: 32px;
} */

/* .thank-you-section {
    background-color: #14120c;
} */

/* Media Queries */

/* @media screen and (max-width: 1200px) {
    .bike-images {
        column-count: 3;
    }
}

@media screen and (max-width: 950px) {
    .bike-image {
        column-count: 2;
        display: flex;
        justify-content: center;
        
    }
} */

@media screen and (max-width: 600px) {
    .nav-menu {
        float: left;
        clear: left;
        margin-left: 10px;
    }
}