@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

* {
    border: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: Open-Sans, sans-serif;
    font-weight: 300;
    color: #181d24;
}

p {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    line-height: 25px;
}

h1, h2 , th {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #181d24;
    padding: 10px;
}

h2 {
    text-align: center;
    padding: 40px;
}

/* Home Page */

.main-image {
    background: url('../images/cyclists-trail-bike-clouds.jpeg') no-repeat center center;
    background-size: cover;
    height: 500px;
    width: 100%;
    border-radius: 1px;
}

.title {
    line-height: 50px;
    float: left;
    margin-left: 10px;
}

.title a {
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    color: white;
}

/* Navigation */

.nav-menu {
    float: right;
    line-height: 70px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 150%;
    padding: 10px;
}

/* About us and opening hours */

/* .about-us {
    text-align: center;
    padding: 40px;
}

.about-us p{
    line-height: 20px;
    padding: 40px;
} */

/* #table-heading {
    text-align: center;
    padding: 40px;
} */

/* .table-section {
    width: 100%;
    padding: 20px;
    border: 1px solid black;
    position: relative;
    display: inline-block;
    vertical-align: middle;
} */

th, td {
    padding: 10px;
    text-align: center;
}

/* social media */

.social-media {
    text-align: center;
    font-size: 200%;
    padding: 40px;
}

.social-media a {
    padding: 20px;
    color: #181d24;
}

/* Bike Page */

/* .bike-div {
    width: 100%;
} */

.bike-image {
    height: 150px;
    width: auto;
    /* display: inline-block;
    vertical-align: middle; */
    /* float: right; */
    margin: 50px;
    border-radius: 10px;
}

.bike-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* width: 100%; */
}

#bikes-heading {
    text-align: center;
    padding: 20px;
}

/* Workshop Page */

.workshop-image {
    background: url('../images/bicycle-sunset.jpeg') no-repeat center center;
    background-size: cover;
    /* background-position: center;
    height: 750px; */
    height: 450px;
    width: 100%;
}

/* .form-section {
    margin-top: 40%;
    margin-left: 40%;
    position: absolute;
} */

form {
    /* display: inline-block; */
    text-align: center;
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 20px;
}

.workshop-signup {
    background-color: black;
    color: #ffffff;
}

#workshop-heading {
    color: #ffffff;
}

.form-display {
    display: flex;
    justify-content: center;
}

/* .form-section {
    text-align: center;
    color: #ffffff;
    position: absolute;
    bottom: 40%;
    padding: 20px;
    width: 100%;
} */

/* .form-heading {
    padding: 10px;
    text-align: center;
} */

.form-input {
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: rgb(236, 162, 25);
    margin: 10px;
}

.form-submit {
    font-size: 16px;
    margin: 15px;
    padding: 10px;
    background-color: rgb(236, 162, 25);
    border-radius: 4px;
}

.form-submit:hover {
    color: #ffffff;
    /* background-color: #ffffff; */
}

/* Thank You Page */

.thank-you-image {
    background: url('../images/bicycle-high-five.jpeg') no-repeat center center;
    height: 750px;
    width: auto;
}

/* .thank-you {
    float: right;
    color: white;
    margin: 50px 10px;
} */

.thank-you {
    position: absolute;
    color: #ffffff;
    text-align: center;
    font-size: 32px;
    background-color: rgb(255, 255, 255, 0.2);
    /* padding: 20px;
    border-radius: 4px;
    margin: auto;
    width: 50%;
    display: inline-block; */
}

/* media queries */

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 950px) {
    
}

@media screen and (max-width: 800px) {
    
}