@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    color: #181d24;
    font-family: Open-Sans, sans-serif;
    font-weight: 300;
}

p {
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    display: flex;
    justify-content: center;
    margin: 0px 30px;
}

h1,
h2,
th {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #181d24;
    padding: 10px;
    text-transform: uppercase;
}

h2 {
    font-size: 28px;
    padding: 40px 0px;
    text-align: center;
}

label {
    font-size: 24px;
}

/* Use of calc() was learned from my mentor Akshat Garg */

.header-main-container {
    min-height: calc(100vh - 98px);
}

/* Home Page */

.main-image {
    background: url('../images/cyclists-trail-bike-clouds.jpeg') no-repeat;
    background-size: cover;
    background-position: 55% 45%;
    background-color: skyblue;
    border-radius: 1px;
    height: 500px;
    width: 100%;
}

.title {
    float: left;
    line-height: 50px;
    margin-left: 10px;
}

.title a {
    color: white;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
}

/* Navigation */

.nav-banner {
    background: rgb(0, 0, 0, 0.3);
    height: 80px;
    position: absolute;
    width: 100%;
}

.nav-menu {
    float: right;
    line-height: 70px;
    margin-right: 10px;
}

.nav-menu a {
    color: white;
    font-size: 28px;
    padding: 10px;
    text-decoration: none;
}

.nav-menu a:hover {
    color: #ffffffcb;
}

/* About Us and Opening Hours Section */

.about-us {
    margin-bottom: 40px;
}

.opening-hours {
    border-top: 1px solid rgba(58, 58, 58, 0.2);
    margin: 0px 20px;
}

.table-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

th,
td {
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

/* Social Media Footer */

.social-media {
    border-top: 1px solid rgba(58, 58, 58, 0.2);
    font-size: 200%;
    margin: 0px 20px;
    padding: 30px;
    text-align: center;
}

.social-media a {
    color: #181d24;
    padding: 20px;
}

.social-media a:hover {
    color: rgb(236, 162, 25);
}

/* Bike Page */

.bike-header {
    background: url('../images/bicycle-tree.jpeg') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-color: skyblue;
    border-radius: 1px;
    height: 500px;
    width: 100%;
}

.bike-photo {
    background-size: cover;
    border-radius: 10px;
    height: 150px;
    margin: 50px;
    width: 225px;
}

.bike-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#bicycle-heading {
    padding: 40px;
    text-align: center;
}

/* Workshop Page */

.workshop-image {
    background: url('../images/bicycle-sunset.jpeg') no-repeat;
    background-size: cover;
    background-position: 55% 45%;
    background-color: skyblue;
    height: 500px;
    width: 100%;
}

#signup-heading {
    border-top: 1px solid rgba(58, 58, 58, 0.2);
    margin: 0px 20px;
    padding-bottom: 25px;
    padding-top: 40px;
}

form {
    border-radius: 4px;
    padding: 20px;
    text-align: center;
}

.workshop-signup {
    padding-bottom: 40px;
}

.form-input {
    background-color: rgb(236, 162, 25);
    border: 1px solid #181d24;
    border-radius: 4px;
    height: 25px;
    margin: 10px;
}

.form-submit {
    background-color: rgb(236, 162, 25);
    border-radius: 4px;
    border: 1px solid #181d24;
    font-size: 24px;
    margin: 15px;
    padding: 8px;
}

.form-submit:hover {
    color: #ffffff;
}

.signup {
    background-color: rgb(236, 162, 25, 0.1);
}

/* Thank You Page */

.thank-you-image {
    background: url('../images/celebration.jpeg') no-repeat;
    background-position: 65% 35%;
    background-color: skyblue;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.thank-you {
    margin-top: 50px;
}

/* Media Queries */

@media screen and (max-width: 650px) {
    .title {
        float: none;
        line-height: 50px;
        margin-left: 10px;
        text-align: center;
    }

    .nav-menu {
        clear: left;
        float: initial;
        margin-left: 15px;
        text-align: center;
    }

    .nav-menu a {
        padding: 5px;
    }
}

@media screen and (max-width: 475px) {
    .workshop-image {
        background-position-x: 35%;
    }
}